.services{
    margin-top: 6rem;
    margin-inline: 8rem;
    position: relative;

    h2{
        font-size: 32px;
        text-align: center;
        margin-bottom: 4rem;
        position: relative;

        &::before, &::after{
            content: "";
            position: absolute;
            bottom: -1rem;
        }

        &::before{
            width: 13.5%;
            height: 0.5rem;
            background-color: $mainColor;
            border-radius: 8px;
            right: 32.5rem;
        }
        
        &::after{
            width: 3%;
            left: 32.8rem;
            border-style: none none dotted;
            border-width: 8px;
            border-color: $mainColor;
        }
    }

    .slick-slider{
        .slick-arrow {
            display: none !important;
        }

        .slick-list{
            width: 85rem;
            height: 30rem;
    
            .slick-track{
                width: 24rem;
                padding-left: 2rem;

                .slick-slide {
                    width: 26rem !important;

                    .eachService{
                        width: 23rem !important;
                        height: 26rem;
                        border-radius: 1rem;
                        box-shadow: 0px 0px 7px 3px #e2e2e2;
                        align-content: center;
                        margin-top: 1rem;
                        
                        img{
                            width: 10rem;
                            transform: translateX(60%);
                            margin-bottom: 1rem;
                        }
                        
                        h3, p{
                            text-align: center;
                        }
                        
                        h3{
                            font-size: 22px;
                            margin-bottom: 1rem;
                        }
                        
                        p{
                            font-size: 20px;
                            font-weight: 600;
                            color: #666666;
                            width: 20rem;
                            margin: auto
                        }
                    }            
                }
            }
        }
    }
        
    .prevArrow, .nextArrow{
        position: absolute;
        top: 20rem;
        width: 3rem;
        height: 3rem;
        box-shadow: 0px 0px 7px 3px #e2e2e2;
        border-radius: 50%;
        padding: 0.5rem;
        cursor: pointer;

    }
    
    .prevArrow{
        left: -2.3rem;
    }

    .nextArrow{
        right: -2.5rem;
    }
}