.features{
    margin-top: 6rem;
    margin-inline: 5rem;

    h2{
        text-align: center;
        font-size: 32px;
        position: relative;
        margin-bottom: 6rem;

        &::before, &::after{
            content: "";
            position: absolute;
            bottom: -1rem;
        }

        &::before{
            width: 12.5%;
            right: 35.5rem;
            height: 0.5rem;
            background-color: $mainColor;
            border-radius: 8px;
        }
        
        &::after{
            width: 3%;
            left: 35.8rem;
            border-style: none none dotted;
            border-width: 8px;
            border-color: $mainColor;
        }
    }

    .allFeatures{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        .eachFeature{
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                width: 11rem;
            }

            h3{
                text-align: center;
                font-weight: 800;
                font-size: 20px;
                margin-bottom: 1rem;
            }
            
            p{
                text-align: center;
                width: 16rem;
                color: #8f8f8f;
            }
        }
    }
}












// responsive


// tablet

@media (max-width: 991px){
    .features{
        margin-top: 2rem;

        h2{
            font-size: 26px;
            margin-bottom: 4rem;
    
            &::before{
                width: 21%;
                right: 16.5rem;
            }
            
            &::after{
                width: 5%;
                left: 16.5rem;
            }
        }
    
        .allFeatures{
            justify-content: center;
            column-gap: 4rem;
            row-gap: 2rem;
            flex-wrap: wrap;
    
            .eachFeature{
                img{
                    width: 8rem;
                }
    
                h3{
                    font-size: 18px;
                    margin-bottom: 0.5rem;
                }
                
                p{
                    width: 18rem;
                }
            }
        }
    }
}






// mobile

@media (max-width: 480px){
    .features{
        margin-top: -1rem;
        margin-inline: 2rem;

        h2{
            font-size: 22px;
            margin-bottom: 2rem;
    
            &::before{
                width: 33.5%;
                right: 5rem;
            }
            
            &::after{
                width: 12%;
                left: 5.5rem;
            }
        }
    
        .allFeatures{
            row-gap: 1.5rem;
    
            .eachFeature{
                img{
                    width: 6rem;
                }
    
                h3{
                    font-size: 16px;
                    margin-bottom: 0.5rem;
                }
                
                p{
                    font-size: 14px;
                }
            }
        }
    }

}