.services{
    margin-top: 6rem;
    margin-inline: 8rem;
    position: relative;

    h2{
        font-size: 32px;
        text-align: center;
        margin-bottom: 4rem;
        position: relative;

        &::before, &::after{
            content: "";
            position: absolute;
            bottom: -1rem;
        }

        &::before{
            width: 13.5%;
            height: 0.5rem;
            background-color: $mainColor;
            border-radius: 8px;
            right: 32.5rem;
        }
        
        &::after{
            width: 3%;
            left: 32.8rem;
            border-style: none none dotted;
            border-width: 8px;
            border-color: $mainColor;
        }
    }

    .slick-slider{
        .slick-arrow {
            display: none !important;
        }
        
        .slick-list{
            width: 78rem;
            height: 28rem;
            padding-left: 2rem;
            
            .slick-track{
                .slick-slide {
                    .eachService{
                        width: 23rem !important;
                        height: 26rem;
                        border-radius: 1rem;
                        box-shadow: 0px 0px 7px 3px #e2e2e2;
                        align-content: center;
                        margin-top: 1rem;
                        
                        img{
                            width: 10rem;
                            margin-bottom: 1rem;
                            margin-inline: auto;
                        }
                        
                        h3, p{
                            text-align: center;
                        }
                        
                        h3{
                            font-size: 22px;
                            margin-bottom: 1rem;
                        }
                        
                        p{
                            font-size: 20px;
                            font-weight: 600;
                            color: #666666;
                            // width: 20rem;
                            margin: auto;
                            padding: 0 2rem;
                        }
                    }            
                }
            }
        }
    }
        
    .prevArrow, .nextArrow{
        position: absolute;
        top: 20rem;
        width: 3rem;
        height: 3rem;
        box-shadow: 0px 0px 7px 3px #e2e2e2;
        border-radius: 50%;
        padding: 0.5rem;
        cursor: pointer;

    }
    
    .prevArrow{
        left: -2.3rem;
    }

    .nextArrow{
        right: -2.5rem;
    }
}













// responsive


// tablet

@media (max-width: 991px){
    .services{
        margin-top: 5rem;
        margin-inline: 6.5rem;
    
        h2{
            font-size: 26px;
            margin-bottom: 4rem;
    
            &::before{
                width: 20.8%;
                right: 15.5rem;
            }
            
            &::after{
                width: 5%;
                left: 15.5rem;
            }
        }
    
        .slick-slider{
            .slick-list{
                width: 42rem;
                height: 30rem;
                padding-left: 2rem;
                
                .slick-track{
                    .slick-slide {
                        .eachService{
                            width: 18rem !important;
                            height: 22rem;
                            
                            img{
                                width: 6rem;
                            }
                            
                            h3{
                                font-size: 18px;
                            }
                            
                            p{
                                font-size: 16px;
                            }
                        }            
                    }
                }
            }
        }
            
        .prevArrow, .nextArrow{
            top: 18.5rem;
            width: 2rem;
            height: 2rem;
            padding: 0.3rem;
    
        }
        
        .prevArrow{
            left: -1rem;
        }
    
        .nextArrow{
            right: -1.8rem;
        }
    }
}








// mobile

@media (max-width: 480px){
    .services{
        margin-inline: 2rem;
    
        h2{
            font-size: 22px;
            margin-bottom: 4rem;
    
            &::before{
                width: 35.8%;
                right: 5.2rem;
            }
            
            &::after{
                width: 10%;
                left: 5.5rem;
            }
        }
    
        .slick-slider{
            .slick-list{
                width: 42rem;
                height: 25rem;
                padding-left: 2.5rem;
                
                .slick-track{
                    .slick-slide {
                        .eachService{
                            width: 16rem !important;
                            height: 20rem;
                            
                            img{
                                width: 5rem;
                            }
                            
                            h3{
                                font-size: 16px;
                            }
                            
                            p{
                                font-size: 14px;
                            }
                        }            
                    }
                }
            }
        }
            
        .prevArrow, .nextArrow{
            top: 17rem;
            width: 1.8rem;
            height: 1.8rem;
            padding: 0.4rem;
        }
        
        .prevArrow{
            left: -0.2rem;
        }
    
        .nextArrow{
            right: -0.8rem;
        }
    }

}