.reviews{
    margin-top: 6rem;
    margin-inline: 5rem;
    position: relative;

    h2{
        font-size: 32px;
        text-align: center;
        margin-bottom: 6rem;
        position: relative;

        &::before, &::after{
            content: "";
            position: absolute;
            bottom: -1.5rem;
        }

        &::before{
            width: 20%;
            height: 0.5rem;
            background-color: $mainColor;
            border-radius: 8px;
            right: 32rem;
        }
        
        &::after{
            width: 3%;
            left: 32.5rem;
            border-style: none none dotted;
            border-width: 8px;
            border-color: $mainColor;
        }
    }

    .allReviews{
        display: flex;
        justify-content: space-between;
        margin-inline: 3rem;

        .eachReview{
            text-align: center;
            margin-top: 3rem;
            position: relative;
            
            img{
                width: 5rem;
                border-radius: 50%;
                margin-bottom: 1rem;
            }
            
            h3{
                margin-bottom: 1rem;

            }
            
            p{
                width: 24rem;
            }
    
            &:nth-child(2){
                margin-top: 0.5rem;
    
            }

            .eachBG1{
                img{
                    width: 26rem;
                    position: absolute;
                    top: 1rem;
                    left: -3rem;
                    z-index: -1;
                }
            }
            .eachBG2{
                img{
                    width: 26rem;
                    position: absolute;
                    top: 3.5rem;
                    left: -2rem;
                    z-index: -1;
                }
            }
            .eachBG3{
                img{
                    width: 26rem;
                    position: absolute;
                    top: 1.5rem;
                    right: -3rem;
                    z-index: -1;
                }
            }
        }
    }

    .prevArrow, .nextArrow{
        position: absolute;
        bottom: -10rem;
        font-size: 22px;
        cursor: pointer;
    }
    
    .prevArrow{
        left: 38rem;
    }

    .nextArrow{
        right: 38rem;
    }

    // .navDots{
    //     text-align: center;
    //     margin-top: 8rem;
    // }

}