@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "./variables";
@import "./style/components/navbar";
@import "./style/components/header";
@import "./style/components/ektshfFeatures";
@import "./style/components/discoverDestinations";
@import "./style/components/ektshfServices";
@import "./style/components/aboutUsSection";
@import "./style/components/placesInEgypt";
@import "./style/components/downloadApp";
@import "./style/components/reviews";
@import "./style/components/footer";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}